@page "{searchString?}"
@model RazorPagesWebShop.Pages.Admin.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Admin/Dashboard">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Admin/Orders/Index">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Admin/Products/Index">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Admin/Categories/Index">
                            <span data-feather="shopping-cart"></span>
                            Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Admin/Tags/Index">
                            <span data-feather="shopping-cart"></span>
                            Tags
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Admin/Ratings/Index">
                            <span data-feather="shopping-cart"></span>
                            Ratings
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-sm-10 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Orders</h2>
            </div>
            <p>
                <a asp-page="Create">Create New</a>
            </p>
            <form>
                <p>Search:</p>
                <input type="text" asp-for="SearchString"/>
                <input type="submit" value="Filter" class="btn btn-sm btn-outline-secondary"/>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].User)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].User.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].OrderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Order[0].Status)
                        </th>
                        <th>
                            Manage
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Order)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </main>
    </div>
</div>